asgiref==3.8.1
dj-database-url==2.2.0
Django==3.2.10
django-ckeditor==6.1.0
django-environ==0.11.2
django-heroku==0.3.1
django-js-asset==2.2.0
environ==1.0
gunicorn==23.0.0
packaging==24.2
pillow==11.0.0
psycopg2==2.9.10
pytz==2024.2
sqlparse==0.5.2
typing_extensions==4.12.2
whitenoise==5.2.0
