body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота экрана */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
    font-family: 'Chakra Petch', sans-serif;
}

.news {
    height: 1000px;
    background-color: #ffffff;
    color: antiquewhite;
    margin-top: 136px;
  }
  
.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 265px;
    margin-top: 50px;
    z-index: 11;
  }
  
.news-card{
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}
  
 /* Обновление стилей для всех карточек */
 .news-image img {
    width: 400px;
    max-height: 250px;
    height: auto;
    object-fit: cover;
}
  
.news-content {
    flex-grow: 1;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: space-between;
}
  
.news-date {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    line-height: 29px;
    margin: 0 0 10px 0;
}
  
.news-title {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: #007AFF;
}