body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Шрифт */
}

/* Медиазапрос для экранов от 900px до 1200px */
@media (min-width: 900px) and (max-width: 1200px) {
    body {
        background-color: lightblue;
        font-size: 15px;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }
}

.news_detail img {
    width: 100%;
    height: 600px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-text h1{
    color: #0069FF;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text p{
    color: #FF5151;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 21px;
    padding-left: 64px;
}

.main-text .news-content p{
    color: #569CFF;
    text-align: left;
    padding-left: 64px;
    max-width: 136ch;
}