{% extends 'template.html' %}

{% load static %}

{% block title %}
  The Quest
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}">
{% endblock %}


{% block body %}
<div class="news-events-updates">
    <!-- Секция News -->
    <div class="content" id="news">
        <div class="news-container">
            {% if news_list %}
                {% for news in news_list %}
                    <div class="news-card">
                        <div class="news-image">
                            <img src="{{ news.news_image.url }}" alt="{{ news.title }}">
                        </div>
                        <div class="news-content" style="background-image: url('{{ news.content_image.url }}');">
                            <p class="news-date">{{ news.published_date }}</p>
                            <h2 class="news-title">{{ news.title|safe }}</h2>
                            <div class="news-buttons">
                                <button class="news-button small">
                                    <img src="{% static 'img/icon-share.svg' %}" alt="Share">
                                </button>
                                <a href="{% url 'news_detail' news.pk %}" class="news-button open">Open</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-news-message">No news available at the moment.</p>
            {% endif %}
        </div>
    </div>
    
{% endblock %}