{% extends 'template.html' %}

{% load static %}

{% block title %}
  News detail
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/news_detail.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
{% endblock %}


{% block body %}
    <div class="news_detail">
        <img src="{{ news.background_image.url}}" alt="">

        <h1 class="news-title">{{ news_item.title|safe }}</h1>
        <p class="news-date">{{ news_item.published_date }}</p>
        <div class="news-content">
            {{ news_item.description|linebreaks }}
        </div>

        <a href="{% url 'news_list' %}">Вернуться к списку</a>
    </div>
{% endblock %}