{% extends 'template.html' %}

{% load static %}

{% block title %}
  News_list
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}">
{% endblock %}


{% block body %}
<div class="news">
    <!-- Секция News -->
    <div class="content" id="news">
        <div class="news-container">
            {% if news_list %}
                {% for news in news_list %}
                    <div class="news-card">
                        <div class="news-image">
                            <img src="{{ news.news_image.url }}" alt="{{ news.title }}">
                        </div>
                        <div class="news-content" style="background-image: url('{{ news.content_image.url }}');">
                            <p class="news-date">{{ news.published_date }}</p>
                            <h2 class="news-title">{{ news.title|safe }}</h2>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-news-message">No news available at the moment.</p>
            {% endif %}
        </div>
    </div>
    
{% endblock %}